<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Programacion Web evaluación 3</title>
    <link rel="stylesheet" href="/static/css/estilos.css">
</head>
<body>
<div class="ContenedorEjercicio2">
<!--Formulario Html-->
    <form method="POST">
        <div class="form-group">
            <label for="nombre1">Nombre 1:</label>
            <input type="text" name="nombre1" value={{nombre1}}>
        </div>
        <div class="form-group">
            <label for="nombre2">Nombre 2:</label>
            <input type="text" name="nombre2" value={{nombre2}}>
        </div>
        <div class="form-group">
            <label for="nombre3">Nombre 3:</label>
            <input type="text" name="nombre3" value={{nombre3}}>
        </div>        
        <div class="form-group">
        <input type="submit" value="Enviar">
        </div>  
    </form> 
    {% if nombre %}
    <div>
        <p>El nombre con mayor cantidad de caracteres es: {{nombre}}</p>
        <p>El nombre tiene {{largo}} caracteres</p>        
    </div>
    {% endif %}
</div>  
</body>
</html>